# Profile -> Preferences -> ADVANCED -> Manage API keys -> GENERATE NEW -> GENERATE -> COPY
CLOCKIFY_API_KEY=

# Profile -> Nastaveni -> Uzivatelsky ucet -> API pristupy -> Vygenerovat API pristupove udaje
FAKTUROID_CLIENT_ID=
FAKTUROID_CLIENT_SECRET=

RATE=
